body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: rgb(246, 178, 107);
  color: #444;
  padding: 1rem;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: rgb(246, 178, 107);
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid #dcdcdc;
}

table th {
  padding: 1em;
  background-color: rgb(246, 178, 107);
}

.text-center {
  text-align: center;
}

.indicator {
  display: inline-block;
  background: #838079;
  height: 120px;
  padding: .2rem;
  border-radius: 10px 10px 20px 20px;
  border: 1px solid #8c8c8c;
  box-shadow: 3px 4px #615e59;
  color: #227961;
}

.indicator__screen {
  background: white;
  height: 40px;
  padding-top: 1rem;
  padding-left: .2rem;
  padding-right: .2rem;
  border-radius: 6px 6px 15px 15px;
  font-size: 12px;
  border: 1px solid #8c8c8c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50px;
}

.indicator__screen.success {
  background-color: #c5ffd4;
  color: #0ba233;
  border-color: #64ea87;
}

.indicator__screen.error {
  background-color: #ffe7e8;
  color: #e66465;
  border-color: #e66465;
}

.indicator__number {
  text-align: center;
  margin-top: 2rem;
  color: #505050;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indicator__list li {
  display: inline-block;
  margin: .5rem 1rem;
}

.form-group {
  margin: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin: .5rem;
}

input {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.indicator--shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}